.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social {
    margin-bottom: 20px;
}

.icon {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: translateY(-3px);
    color: #ffffff99;
}

.copy {
    font-size: 14px;
    margin-bottom: 10px;
}

.contactInfo {
    font-size: 14px;
    margin: 2px 0;
}